<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Sound Clips <small>Upload</small>
		</h1>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div id="flash"></div>
	<%= render 'form' %>
</div>
<div class="row">
	<div class="col-sm-12">
	<%= link_to 'Back to sound-clips', sound_clips_path, class: "btn bold btn-primary" %>
	</div>
</div>
<!-- /.row -->


