td.preview{
	max-width:310px;
}

div.progress{
	min-width:80px;
	width: auto !important;
}
.bar {
  height: 20px;
  background-color:green;
  background-image: url('progressbar.gif') !important;
  filter: none;
}

td.start button, td.cancel button, #clip_preview{
	margin-top:5px;
}

td.preview, td.name, td.start, td.size, td.cancel{
	vertical-align: middle !important;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
td.preview{
	padding-left: 10px !important;
}

div.error p{
	font-size: 14px !important;
	word-wrap: break-word;
}
table.j-query-upload-controls{
	background-color: #f9f9f9;
	border-radius: 8px;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}