<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
	</button>
	<h4>
		<i class="fa fa-fw fa-warning"></i>Warning:
	</h4>
	<ul>
		<% resource.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>